td {
    text-align:center;
}

td.num {
    font-weight:bold;
}

td.with {
    background-color:yellowgreen;
    font-size:80%;
}

td.without {
    background-color:moccasin;
    font-size:80%;
}

th.norm {
    font-weight:normal;
    text-align:left;
}

tr.gray {
    background-color:lightgray;
}

table {
    border:1px solid black;
    border-collapse:collapse;
    margin-top:5px;
}

span.with {
    background-color:yellowgreen;
}

nav {
    float:right;
}

div.notice {
    border-radius: 10px;
    display: inline-block;
    background-color: #ecd9ab;
    background-position: left top;
    background-repeat: repeat;
    padding: 5px;
}

textarea {
    display: block;
    width: 50%;
    padding: 10px;
    border: 2px solid #999;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* IE 8+ */
}
