/* override default styles */
body {
    font-family: "Fira Sans", "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* links */

a {
    text-decoration: none;
    color: #0095dd;
}

a:hover {
    text-decoration: underline;
    color: #00539f;
}

/* generic table styles */

table {
    border-collapse:collapse;
    margin-top:5px;
}

td, th {
    border:1px solid black;
    text-align: center;
    padding: 4px;
}

/* crash-stop table styles */
td.num {
    font-weight:bold;
}

td.with {
    font-size:80%;
}

td.without {
    font-size:80%;
}

td.buildid {
    font-size:80%;
}

th.norm {
    font-weight:normal;
    text-align:left;
}

/* captions and colors */
div.captions {
  display:inline-flex;
  justify-content:center;
  flex-direction: row;
  margin-bottom: 0.5em;
}
div.captions span {
   text-align: center;
   padding: 0 1em;
    width:10em;
}
.with {
    background-color:yellowgreen;
}

.without {
    background-color:moccasin;
}

.gray {
    background-color: #edebe4;
}

.lavender {
    background-color:lavenderblush;
}

nav {
    float:right;
}

div.notice {
    border-radius: 10px;
    display: inline-block;
    background-color: PaleTurquoise;
    background-position: left top;
    background-repeat: repeat;
    padding: 5px;
}

textarea {
    display: block;
    width: 50%;
    padding: 10px;
    border: 2px solid #999;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* IE 8+ */
}
