<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/stop.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Signatures for bug {{ bugid }}</title>
    <script type="text/javascript" src="/stop.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="nav" href="https://github.com/mozilla/crashstop">
          <img src="/GitHub-Mark-32px.png"/>
        </a>
      </nav>
    </header>
    <form onsubmit="javascript:bug();" action="javascript:void(0);" style="display:inline;">
      Bug:&nbsp;
      <input type="text"
             id="bugid"/>
      <input type="submit"
             value="Get it !"/>
    </form>
    {% if data -%}
    <p>Take care: signatures with inaccessible bugs are not displayed !<br>
      You can see all the signatures <a href="./signatures.html">here</a>.
    </p>
    <p>The builds containing the patch are shown in green.</p>
    <p>Here are the results for <a href="https://bugzil.la/{{ bugid }}">bug {{ bugid }}</a>:</p>
    <ul>
      {% for prod, i in data.items() -%}
      <li>{{ prod }}
        <ul>
          {% for chan, j in i.items() -%}
          <li>{{ chan }}
            <ul>
              {% for sgn, info in j -%}
              <li style="margin:10px 0;"><a href="{{ info['socorro_url'] }}">{{ sgn|e }}</a>:<br>
                <table border="1">
                  <tr>
                    <th class="norm">build-id</th>
                    {% for pos, bid in enumerate(info['buildids']) %}<td class="{% if pos <= info['position'] -%}without{% else -%}with{% endif -%}"><a href="{{ links[(sgn, bid)] }}">{{ bid }}</a></td>{% endfor -%}
                  </tr>
                  <tr>
                    <th class="norm">version</th>
                    {% for bid in info['buildids'] %}<td>{{ versions[(prod, chan)][bid] }}</td>{% endfor -%}
                  </tr>
                  <tr>
                    <th class="norm">crashes</th>
                    {% for n in info['numbers'] %}<td class="num">{{ n }}</td>{% endfor -%}
                  </tr>
                </table>
              </li>
              {% endfor -%}
            </ul>
          </li>
          {% endfor -%}
        </ul>
      </li>
      {% endfor -%}
    </ul>
    {% endif -%}
  </body>
</html>
