<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/clouseau.ico">
    <link rel="stylesheet" href="/stop.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Crash data</title>
    <script type="text/javascript" src="/stop.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="nav" href="https://github.com/mozilla/crashstop">
          <img src="/GitHub-Mark-32px.png"/>
        </a>
      </nav>
    </header>
    {% if not data -%}
    <div class="notice">
      Few things:
      <ul>
        <li>You can see the data for all signatures: <a href="./signatures.html">here</a>.</li>
        <li>You can get the data for a specific bug: <a href="./bug.html">here</a>.</li>
      </ul>
    </div>
    <br>
    <br>
    <form onsubmit="javascript:crashdata();" action="javascript:void(0);" style="display:inline;">
      Signatures (you can copy/paste directly from Bugzilla crash_signature field):<br>
      <textarea rows="10" cols="10" id="signatures"></textarea>
      <br><br>
      Mercurial urls of the patches (one url by channel is enough):<br>
      <textarea rows="10" cols="10" id="hgurls"></textarea>
      <br><br>
      <input type="submit"
             value="Get it !"/>
    </form>
    {% else -%}
    <div class="notice">
      Few things:
      <ul>
        <li>You can see the data for all signatures: <a href="./signatures.html">here</a>.</li>
        <li>You can get the data for a specific bug: <a href="./bug.html">here</a>.</li>
        <li>The builds containing the patches are shown in <span class="with">green</span>.</li>
        <li>You can see if a patch had a positive effect on the crash in comparing crash numbers before and after it.</li>
      </ul>
    </div>
    <ul>
      {% for prod, i in data.items() -%}
      <li>{{ prod }}
        <ul>
          {% for chan, j in i.items() -%}
          <li>{{ chan }}
            <ul>
              {% for sgn, info in j -%}
              <li style="margin:10px 0;"><a href="{{ info['socorro_url'] }}">{{ sgn|e }}</a>:<br>
                <table border="1">
                  <tr>
                    <th class="norm">build-id</th>
                    {% for pos, bid in enumerate(info['buildids']) %}<td class="{% if pos <= info['position'] -%}without{% else -%}with{% endif -%}"><a href="{{ links[(sgn, bid)] }}">{{ bid }}</a></td>{% endfor -%}
                  </tr>
                  <tr>
                    <th class="norm">version</th>
                    {% for bid in info['buildids'] %}<td>{{ versions[(prod, chan)][bid] }}</td>{% endfor -%}
                  </tr>
                  <tr class="gray">
                    <th class="norm">installs</th>
                    {% for n in info['installs'] %}<td class="num">{{ n }}</td>{% endfor -%}
                  </tr>
                  <tr>
                    <th class="norm">crashes</th>
                    {% for n in info['raw'] %}<td class="num">{{ n }}</td>{% endfor -%}
                  </tr>
                </table>
              </li>
              {% endfor -%}
            </ul>
          </li>
          {% endfor -%}
        </ul>
      </li>
      {% endfor -%}
    </ul>
    {% endif -%}
  </body>
</html>
