<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="shortcut icon" href="/clouseau.ico">
    <link rel="stylesheet" href="/stop.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Signatures for {{ product }} &mdash; {{ channel }}</title>
    <script type="text/javascript" src="/stop.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <a class="nav" href="https://github.com/mozilla/crashstop">
          <img src="/GitHub-Mark-32px.png"/>
        </a>
      </nav>
    </header>
    <form onsubmit="javascript:update();" action="javascript:void(0);" style="display:inline;">
      Channel:&nbsp;
      <select id="channel">
        {% for c in channels -%}
        {% if c == channel -%}
        <option value="{{ c }}" selected>{{ c }}</option>
        {% else -%}
        <option value="{{ c }}">{{ c }}</option>
        {% endif -%}
        {% endfor -%}
      </select>
      Product:&nbsp;
      <select id="product">
        {% for p in products -%}
        {% if p == product -%}
        <option value="{{ p }}" selected>{{ p }}</option>
        {% else -%}
        <option value="{{ p }}">{{ p }}</option>
        {% endif -%}
        {% endfor -%}
      </select>
      <input type="submit"
             value="Go !"/>
    </form>
    <br>
    <br>
    {% if data['signatures'] -%}
    <div class="notice">
      Few things:
      <ul>
        <li>Take care: signatures with inaccessible bugs are not displayed !</li>
        <li>But you can get crash data for signatures and patches: <a href="./crashdata.html">here</a>.</li>
        <li>You can get the data for a specific bug: <a href="./bug.html">here</a>.</li>
        <li>The data are refreshed 4 times by day (every 6 hours from 0:00 (UTC)).</li>
        <li>The builds containing the patches are shown in <span class="with">green</span> and the builds without in <span class="without">moccasin</span>.</li>
        <li>You can see if a patch had a positive effect on the crash in comparing crash numbers before and after it.</li>
        <li>You can use the WebExtension <a href="https://addons.mozilla.org/en-US/firefox/addon/bugzilla-crash-stop/">bugzilla-crash-stop</a> to have a link on crash data just under crash-signatures field.</li>
        <li>If you see something wrong or want a feature, don't hesitate to file an issue on <a href="https://github.com/mozilla/crashstop/issues">Github</a>.</li>
      </ul>
    </div>
    <ul>
      {% for sgn, i in data['signatures'] -%}
      <li style="margin:10px 0;"><a href="{{ i['socorro_url'] }}">{{ sgn|e }}</a>:<br>
        <table border="1">
          <tr>
            <th class="norm">build-id</th>
            {% for pos, bid in enumerate(data['buildids']) %}<td class="{% if pos <= i['position'] -%}without{% else -%}with{% endif -%}"><a href="{{ data['links'][(sgn, bid)] }}">{{ bid }}</a></td>{% endfor -%}
          </tr>
          <tr>
            <th class="norm">version</th>
            {% for bid in data['buildids'] %}<td>{{ data['versions'][bid] }}</td>{% endfor -%}
          </tr>
          <tr class="gray">
            <th class="norm">installs</th>
            {% for n in i['installs'] %}<td class="num">{{ n }}</td>{% endfor -%}
          </tr>
          <tr>
            <th class="norm">crashes</th>
            {% for n in i['raw'] %}<td class="num">{{ n }}</td>{% endfor -%}
          </tr>
        </table>
        <ul>
          <li>See bug <a href="https://bugzil.la/{{ i['bugid'] }}">{{ i['bugid'] }}</a> on Bugzilla</li>
          <li>See data for bug <a href="./bug.html?id={{ i['bugid'] }}">{{ i['bugid'] }}</a> on crash-stop</li>
        </ul>
      </li>
      {% endfor -%}
    </ul>
    {% else -%}
    <p>No data for today !</p>
    {% endif -%}
  </body>
</html>
