<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="stylesheet" href="/stop.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Crash data</title>
    <style>
      {% if resize -%}
      * {
      font-size:90.2%
      }
      {% endif -%}
    </style>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {
          const body = document.body;
          const html = document.documentElement;
          const height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight) + 5;
          if (parent.postMessage) {
              parent.postMessage(height, "*");
          }
      });
    </script>
  </head>
  <body style="margin:0px;padding:0px;" id="crash-stop-body">
    <table border="1">
      {% if data -%}
      <tr>
        <td colspan="100">
          <span class="without" style="float:left;width:25%;">without patch</span>
          <span class="with" style="float:left;width:25%;">with patch</span>
          <span class="lavender" style="float:left;width:25%;">no patch info</span>
          <span style="float:left;width:25%;"><a href="{{ normal_url|e }}" target="_blank">normal size</a></span>
        </td>
      </tr>
      {% for prod, i in data.items() -%}
      {% for chan, j in i.items() -%}
      {% for sgn, info in j -%}
      <tr class="gray">
        <td colspan="100" {% if resize -%}style="font-size:110%"{% endif -%}>
          <a href="{{ info['socorro_url'] }}" {% if resize -%}target="blank_"{% endif -%}>{{ sgn|e }}</a> in {{ prod }}&mdash;{{ chan }}
        </td>
      </tr>
      <tr>
        <th class="norm">build-id</th>
        {% if info['position'] == -2 -%}
        {% for pos, bid in enumerate(info['buildids']) %}<td class="lavender buildid"><a href="{{ links[(sgn, bid)] }}" {% if resize -%}target="blank_"{% endif -%}>{{ bid }}</a></td>{% endfor -%}
        {% else -%}
        {% for pos, bid in enumerate(info['buildids']) %}<td class="{% if pos <= info['position'] -%}without{% else -%}with{% endif -%}"><a href="{{ links[(sgn, bid)] }}" {% if resize -%}target="blank_"{% endif -%}>{{ bid }}</a></td>{% endfor -%}
        {% endif -%}
      </tr>
      <tr>
        <th class="norm">version</th>
        {% for bid in info['buildids'] %}<td>{{ versions[(prod, chan)][bid] }}</td>{% endfor -%}
      </tr>
      <tr class="gray">
        <th class="norm">installs</th>
        {% for n in info['installs'] %}<td class="num">{{ n }}</td>{% endfor -%}
      </tr>
      <tr>
        <th class="norm">crashes</th>
        {% for n in info['raw'] %}<td class="num">{{ n }}</td>{% endfor -%}
      </tr>
      {% endfor -%}
      {% endfor -%}
      {% endfor -%}
      {% else -%}
      <tr>
        <td>
          No crash in the last builds \o/
        </td>
      </tr>      
      {% endif -%}
    </table>
  </body>
</html>
