<!-- This Source Code Form is subject to the terms of the Mozilla Public
     - License, v. 2.0. If a copy of the MPL was not distributed with this file,
     - You can obtain one at http://mozilla.org/MPL/2.0/.  -->

<!DOCTYPE html>
<html lang="en-us">
  <head>
    <link rel="stylesheet" href="/stop.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Crash data</title>
    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {
          const body = document.body;
          const html = document.documentElement;
          const height = Math.max(body.scrollHeight, body.offsetHeight, html.clientHeight, html.scrollHeight, html.offsetHeight) + 5;
          if (parent.postMessage) {
              parent.postMessage(height, "*");
          }
      });
    </script>
  </head>
  <body>
    {% if data -%}
    <table>
      <caption>
        <span class="lavender">No patch info</span>
        <span class="without">Without patch</span>
        <span class="with">With patch</span>
      </caption>
      {% for prod, i in data.items() -%}
      {% for chan, j in i.items() -%}
      {% for sgn, info in j -%}
      <tr>
        <th colspan="100">
          <a href="{{ info['socorro_url'] }}" target="blank_">{{ sgn|e }}</a> in {{ prod }} &mdash; {{ chan }}
        </th>
      </tr>
      <tr>
        <th class="norm">Version</th>
        {% if info['position'] == -2 -%}
        {% for pos, bid in enumerate(info['buildids']) %}<td class="lavender buildid"><a title="{{ bid }}" href="{{ links[(sgn, bid)] }}" target="blank_">{{ versions[(prod, chan)][bid] }}</a></td>{% endfor -%}
        {% else -%}
        {% for pos, bid in enumerate(info['buildids']) %}<td class="{% if pos <= info['position'] -%}without{% else -%}with{% endif -%}"><a title="{{ bid }}" href="{{ links[(sgn, bid)] }}" target="blank_">{{ versions[(prod, chan)][bid] }}</a></td>{% endfor -%}
        {% endif -%}
      </tr>
      <tr class="gray">
        <th class="norm">Installs</th>
        {% for n in info['installs'] %}<td class="num">{{ n }}</td>{% endfor -%}
      </tr>
      <tr>
        <th class="norm">Crashes</th>
        {% for n in info['raw'] %}<td class="num">{{ n }}</td>{% endfor -%}
      </tr>
      {% endfor -%}
      {% endfor -%}
      {% endfor -%}
    </table>
      {% else -%}
      <p>No crash in the last builds \o/ (or something wrong happened...)</p>
      {% endif -%}
  </body>
</html>
